VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=Solo_el_dominio
VITE_REVERB_PORT=
VITE_REVERB_SCHEME="http"
VITE_REVERB_FORCE_TLS="true o false"
VITE_BACKEND_DIR=

# Variables de conexión a backend
VITE_BACKEND_DIR=

# Variables de conexión a SIBOP
VITE_ENCRYPTATION_KEY=
VITE_SIBOP_URL=
VITE_SIBOP_BACKEND_URL=